html {
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  font-family: AtlasGroteskWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background: #5f00f9;
  color: #fff;
}

.App {
  text-align: center;
  position: relative;
  margin-bottom: 5em;
}

.header-icon-container {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100vw;
  z-index: 999;
  margin-top: 2em;
}

.burger-menu {
  position: absolute;
  right: 5%;
}

.icon-open {
  color: #f9009a;
}

.icon-closed {
  color: #222;
}

.icon-open {
  font-size: 2em;
}

.icon-closed {
  font-size: 2.5em;
}

.home-menu {
  position: absolute;
  left: 5%;
}

footer {
  /* position: relative; */
  min-width: 100vw;
  background-color: #282c34;
  height: 20em;
  display: flex;
  bottom: 0;
}

footer h1 {
  margin: auto;
  color: white;
}

/* Home */
.home-container {
  position: relative;
  height: 100%;
  background-color: black;
}

.home-splash {
  background-color: #c7c6c6;
  min-height: 80vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  z-index: 1;
}

.home-splash > h1 {
  position: absolute;
  z-index: 999;
  margin: auto;
}

#scroll-link {
  position: absolute;
  z-index: 999;
  bottom: 5%;
}

.scroll svg {
  width: 2.5em;
  height: 2.5em;
}

/* used as an anchor for the scroll prompt */
#content-top {
  position: absolute;
  z-index: 999;
  bottom: 10%;
}

.home-splash-image {
  background-image: url("https://images.unsplash.com/photo-1518152006812-edab29b069ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.home-splash-overlay {
  position: absolute;
  height: 100%;
  width: 100vw;
  background: rgba(50, 0, 120, 0.3);
}

.home-body h1 {
  font-size: 4em;
}

.home-content-container {
  position: relative;
  background-color: white;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.home-wrapper {
  background-color: #fff;
  margin: 0 auto;
  max-width: 80%;
}

.home-header-title {
  /* overflow: hidden; */
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
}

.home-header-title::before {
  border-top: 2px solid #f9009a;
  border-left: 2px solid #f9009a;
  border-right: 2px solid #f9009a;
  content: " ";
  height: 50px;
  left: -16px;
  position: absolute;
  right: -16px;
  top: 50%;
  pointer-events: none;
}

.home-header-inner {
  padding: 16px;
  width: auto;
  /* width: 100vw; */
  background-color: #fff;
  color: currentColor;
  position: relative;
  display: inline-block;
}

.home-header-inner h2 {
  font-size: 1.3em;
  font-weight: 900;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2em;
  font-style: italic;
}

.home-list-item {
  position: relative;
  height: 100%;
  border-bottom: 1px dashed #e5e5e5;
  list-style: none;

  width: fit-content;
  margin: auto;
}

.home-title-container {
  padding: 5px;
  width: 80vw;
  text-align: start;
  z-index: -10;
  margin: auto;
}

.image-container-promoted {
  width: 80vw;
  height: 20em;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container-promoted.hottest {
  /* when using breakpoints for larger screensize change requested res */
  background-image: url("https://source.unsplash.com/pwcKF7L4-no/400x650");
}

.image-container-promoted.latest {
  /* when using breakpoints for larger screensize change requested res */
  background-image: url("https://source.unsplash.com/woWf_VJ7dNs/400x650");
}

.home-title-container > a {
  color: #222;
}

.more-header-wrapper {
  border-bottom: 1px dashed #e5e5e5;
}

.more-header-title {
  position: relative;
  text-align: end;
  width: 80%;
  margin: auto;
}

.more-header-title::before {
  border-bottom: 2px solid #f9009a;
  border-left: 2px solid #f9009a;
  content: " ";
  height: 50px;
  left: -16px;
  position: absolute;
  right: 0px;
  bottom: 45%;
  pointer-events: none;
}

.more-header-inner {
  padding: 16px;
  width: auto;
  background-color: #fff;
  color: currentColor;
  position: relative;
  display: inline-block;
}

.more-header-inner > a {
  font-size: 1.1em;
  font-weight: 900;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  line-height: 1.2;
  color: #222;
  font-style: italic;

  padding: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

span.created-at {
  color: #999;
  font-style: italic;
}

/* Sign In / Sign Up */
.button-block {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 35vh;
  z-index: 1;
}

.sign-up-button,
.sign-in-button {
  border: 1px solid #c7c6c6;
  padding: 10px 20px 10px 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background: #a9a9a9;
  border-radius: 5px;
  color: whitesmoke;
  margin: 0 5px 0 5px;
}

.icon-form-container {
  width: 40vw;
  text-align: center;
  margin: 0 auto 0 auto;
}

.drop-menu {
  position: fixed;
  z-index: 150;
  min-width: 100vw;
  height: 100vh;
  /* background-color: #282c34; */
  align-content: center;
  transition: 0.5s;
}

.drop-menu-overlay {
  position: fixed;
  z-index: 100;
  min-width: 100vw;
  height: 100vh;
  background-color: #f9009a;
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 15vh;
  list-style: none;
  text-align: center;
  width: 100vw;
  margin: auto;
  padding: 0;
}

#menu a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
  color: #f9009a;
  display: block;
  width: 85%;
  margin: 5px auto 5px auto;

  font-weight: 500;
  font-size: 40px;
  color: #f9009a;
  font-weight: 500;
  padding: 0.5em;
  letter-spacing: 0.1em;
  animation: fadeIn 1s linear forwards;
}

@keyframes slide-left-moji {
  from {
    transform: translateX(-2em) translateY(-1em) scale(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-1em) translateY(-0.5em) scale(0.5);
    opacity: 0.5;
  }
  to {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slide-right-moji {
  from {
    transform: translateX(2em) translateY(1em) scale(0);
    opacity: 0;
  }
  50% {
    transform: translateX(1em) translateY(0.5em) scale(0.5);
    opacity: 0.5;
  }
  to {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}

#menu a > span.left-moji {
  position: absolute;
  left: 2%;
  font-size: 1.2em;
  animation: slide-left-moji 0.5s linear;
}

#menu a > span.right-moji {
  position: absolute;
  right: 2%;
  font-size: 1.2em;
  animation: slide-right-moji 0.5s linear;
}

#menu input {
  margin: auto auto 1em auto;
  background-color: #f9009a;
  font-size: 2.5em;
  width: 80vw;
  text-align: center;
  color: rgb(34, 34, 34);
  min-height: 50px;
  border-bottom: 0.1em solid rgb(34, 34, 34);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

#menu input:focus {
  outline: none;
}

.user-body,
.all-papers,
.paper-show-container,
.not-found {
  min-height: 800px;
  position: relative;
}

.s {
  height: 10vh;
  width: 100vw;
  position: relative;
}

.user-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 80vw;
  height: max-content;
  margin: auto;
}

.profile-info-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1.2em;
}

.user-header {
  width: 50%;
  text-transform: capitalize;
  font-size: 2.2em;
}

.profile-image {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.edit-container {
  position: relative;
  width: 50%;
}

.edit-container button {
  position: absolute;
  left: 1.5em;
  bottom: 25%;
  font-size: 1.1em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  color: #222;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.bio-edit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80vw;
  margin: 0 auto 0 auto;
}

.bio-input {
  height: 10em;
  width: 100%;
  line-height: 1.2em;
  font-size: 1.2em;
  border-bottom: 1px solid black;
}

.user-bio-container p {
  line-height: 1.2em;
  font-size: 1.2em;
}

.form-buttons {
  margin-top: 0.2em;
  position: relative;
  display: flex;
  flex-direction: row;
}

.form-buttons button {
  position: absolute;
  font-size: 1.1em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  color: #222;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.save-bio-button {
  /* margin-left: 0.5em; */
}

.discard-bio-button {
  left: 20%;
}

.user-stats {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.user-stats span {
  color: #999;
}

span.paper-count {
  margin-right: 1.1em;
}

.papers-header {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.paper-show-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* user papers container */
.user-papers-container {
  width: 90vw;
  list-style: none;
  position: relative;
}

.user-list-item {
  text-align: left;
  border-bottom: 1px dashed #e5e5e5;
}

.user-list-item h4 {
  color: black;
  margin-top: .5em;
}

.user-list-item p {
  color: black;
  margin-bottom: 1em;
}

.user-stats {
  display: flex;
  line-height: 20px;
  margin-bottom: 2px;
  color: #000 !important;
  position: relative;
}

span.user-stat-count {
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

span.review-count,
span.paper-count {
  background: radial-gradient(rgba(0, 249, 170, 1), rgba(255, 255, 255, 0.8));
  text-align: center;
}

span.review-count {
  position: absolute;
  left: 20%;
}

span.paper-count {
  position: absolute;
  left: 0;
}

.add-paper-button-container {
  position: relative;
  width: 90vw;
  height: 1.5em;
}

.add-paper-button-container button {
  position: absolute;
  left: 10%;
  bottom: 25%;
  font-size: 1.1em;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

/* user papers container */

.post-input-container {
  z-index: 999;
  width: 80%;
  margin: auto;
}

/* form.ui.form {
  position: absolute;
  width: 80%;
  border: 1px solid black;
} */

.papers-list,
.reviews-container {
  list-style: none;
  width: 90vw;
  padding: 0;
  margin: 0 auto 0 auto;
  text-align: center;
}

.papers-list li,
.user-papers-container li,
.reviews-container li {
  padding-bottom: 15px;
  padding-top: 15px;
}

.papers-list li a {
  margin: auto;
  font-size: 1.1em;
  padding-bottom: 10px;
}

div[class^="paper-category-"] > span,
div[class^="paper-category-"] h5 span,
.paper-review-username > span {
  padding: 5px;
  border-radius: 5px;
  width: 25%;
  margin: auto;
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #000;
  font-size: 90%;
  padding: 0.2rem 0.2rem;
}

.paper-review-username {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.paper-category-biology > span,
.paper-category-biology h5 span {
  background: linear-gradient(
    to right,
    rgba(0, 170, 249, 0.2),
    rgba(154, 0, 249, 0.2)
  );
}

.paper-category-physics > span,
.paper-category-physics h5 span {
  background: linear-gradient(
    to right,
    rgba(249, 170, 0, 0.2),
    rgba(249, 0, 154, 0.2)
  );
}

.paper-category-chemistry > span,
.paper-category-chemistry h5 span {
  background: linear-gradient(
    to right,
    rgba(0, 249, 170, 0.2),
    rgba(154, 249, 0, 0.2)
  );
}

.paper-review-username > span {
  background: linear-gradient(
    to right,
    rgba(0, 0, 170, 0.2),
    rgba(0, 170, 249, 0.2)
  );
}

.main-list-item {
  display: flex;
  height: 100%;
  border-bottom: 1px dashed #e5e5e5;
}

.main-title-container {
  padding: 5px;
  width: 90%;
  text-align: start;
  z-index: -10;
}

.main-title-container > a {
  color: grey;
}

.main-rate-block {
  width: 10%;
  height: 100%;
  align-self: flex-start;
}

span[class^="main-rate-"] {
  background-color: whitesmoke;
  display: inline-block;

  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  color: #000 !important;

  vertical-align: baseline;
  border-radius: 0.5rem;
  position: relative;
}

span[class^="main-rate-value"] {
  font-size: 0.8rem;
}

span.positive {
  background: radial-gradient(rgba(0, 249, 170, 1), rgba(255, 255, 255, 0.8));
}

span.negative {
  background: radial-gradient(rgba(249, 0, 170, 0.8), rgba(255, 255, 255, 0.8));
}

.doi-oa-links {
  list-style: none;
  padding-left: 0px;
}

.paper-sort-btn-collection {
  display: flex;
  width: 90vw;
  margin: auto;
}

.paper-sort-btn {
  margin-left: 1.1em;
}

.no-content {
  /* height: 100%; */
  overflow: hidden;
  position: relative;
}

.no-content-img {
  width: 80%;
}
